

.video{
    width: 100%;
    background-color: black;
    height: 15rem;
}

.container{
    width: 100vm;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
}
